:root {

    //body
    --body-bg: #f8f7fa;
    --body-color: #333;
    --body-size: 16px;

    --header-cover: #eff6ff;

    //style

    --primary-color: #0c66ee;
    --secondary-color: #3984f4;

    //round

    --radius-xl: 0.75em;
    --radius-full: 9999px;

    --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    //spacing
    --spacing: 1em;
    --spacing-sm: 0.5em;
    --spacing-xl: 2em;
}