@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

table {
    display: table;
    border-collapse: collapse;
}

th,
td {
    padding: 1em 2em;
}

p {
    margin: 1em 0;
}

label {color: #6b7280}

input,
select {
    border-radius: 8px;
    border-color: #d1d5db;
}

input[type="submit"] {
    cursor: pointer;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999;
    font-size: 0.95em;;
    background: #4776E6;
    background: linear-gradient(to right, #8E54E9, #4776E6);
}

.top-nav a {
    color: azure;
}

.top-item {
    padding: 0.3em 1em;
}

.nav-link {
    padding: 3px 10px;
    border-radius: 8px;
    display: block;
    color: #515154;
}

.top-nav .nav-link:hover,
.top-nav .nav-link-active {
    background: rgb(255 255 255 / 15%);
}

.app-title {
    font-size: 1.3em;
    padding-top: 1em;
    font-weight: bold;
    color: #333;
}

.app-grid {
    display: grid;
    grid-template-columns: 265px auto;
    margin-top: 38px;
}

.app-container {
    background-color: #f8f7fa;
    min-height: calc(100vh - 125px);
}

.app-main {
    padding: 0 2em;
}

.sidebar {
    box-shadow: 0 0 21px 0 rgb(89 102 122 / 10%);
    color: gray;
    padding: 0 0.5em;
    z-index: 9;
    min-height: calc(100vh - 38px);
}

.block-menu {
    border-bottom: 1px solid #eee;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.menu-label {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 0.5em 1em;
    color: #1d1d1f;
}

.sidebar .nav-item {
    padding: 0.1em 0.5em;
}

.sidebar .nav-link {
    padding: 5px 10px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link-active {
    color: #fff;
    padding: 5px 15px;
}

.sidebar .nav-link-active {
    font-weight: bold;
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidebar .nav-link:hover {
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app-box {
    margin: 1em 0;
    padding: 2em;
    background-color: #fff;
    display: inline-block;
    box-shadow: 0px 9px 20px rgb(46 35 94 / 7%);
    border-radius: 15px;
}

.app-footer {    text-align: center;}



/*
** Tenant css*/

.create-grid {
    display: grid;
    grid-template-columns: auto 300px;
    gap:1em
}

.create-bar {
    height: calc(100vh - 88px);
    overflow-y: auto;
}

.create-bar-block {
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.cate-grid {
    margin: 2em 0;
    display: grid;
    grid-template-columns: 300px auto;
    gap: 2em
}

.sub-item {
    visibility: hidden;
}

.has-sub:hover .sub-item {
    visibility: visible;
}