@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f8f7fa;
    overflow-x: hidden;
}



table {
    display: table;
    border-collapse: collapse;
}

th,
td {
    padding: 0.5em 1em;
}

.table-responsive {overflow-x: auto; margin: 1em 0;width: 100%;}

.app-table {
    width: 100%;
    background: #fff;
    text-align: left;
}

.app-table>*>tr {
    border-bottom: 1px solid #efefef;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 1em 0;
}

svg.icon {
    width: 25px;
    height: 25px;
    fill: #999;
    display: inline-block;
}

p {
    margin: 1em 0;
}

label {color: #6b7280}

[type='text'], 
[type='email'], 
[type='url'], 
[type='password'], 
[type='number'], 
[type='date'], 
[type='datetime-local'], 
[type='month'], 
[type='search'], 
[type='tel'], 
[type='time'], 
[type='week'], 
[multiple], 
textarea, 
select,
.form-select {
    border-radius: 4px;
    border-color: #d1d5db;
}

input[type="submit"] {
    cursor: pointer;
}

button:disabled,
button[disabled] {
    background: #e3e3e3;
    color: #fff;
}

/* Effect - Keyframe */

@keyframes slidein-right-to-left {
    from {
      right: -100px;
    }
  
    to {
      right: 10px;
    }
}

@keyframes slidein-left-to-right {
    from {
      transform: translateX(-100%);
    }
  
    to {
        transform: translateX(0);
    }
}

/* Module CSS */

.form-row {
    margin: 1em 0;
    align-items: center;
    align-items: center;
    gap: 1em;
}

.form-row-flex {
    display: flex;
    flex-wrap: wrap;
}

.form-row-grid {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.form-row-error label,
.form-row-error,
.form-error {
    color: red;
}

.form-row-error input,
.form-row-error select {
    border-color: red;
}

input.form-input.selectEle {
    padding: 0;
    border-radius: 4px;
}

.modal-wrapper {
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.modal-container {
    position: relative;
    transition: all 200ms ease-in-out;
    z-index: 1;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #efefef;
}

.modal-header,
.modal-footer {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.modal-header {
    border-bottom: 1px solid #efefef;
}

.modal-footer {
    border-top: 1px solid #efefef;
    padding: 1em;
}

.modal-body {
    padding: 0 1em;
    margin: 1em 0;
}

.modal-small {
    max-width: 300px;
}

.modal-medium {
    max-width: 500px;
}

.modal-large {
    max-width: 800px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #eee;
    color: #666;
    border: 1px solid;
    border-radius: 4px;
    transition: all 200ms ease-in-out;
    font-size: 16px;
    font-weight: normal;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
}

.btn:hover {
    box-shadow: inset 0px 0px 50px rgb(0 0 0 / 16%);
}

.btn.btn-primary {
    background-color: #2563eb;
    color: #fff;
    border-color: #2563eb;
}

.btn.btn-secondary {
    background-color: #fff;
    color: #2563eb;
}

.btn.btn-transferent {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
}

.btn.btn-transferent:hover {
    background: none;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.btn.btn-text {
    color: #2563eb;
}

.btn.btn-enable>svg {
    fill: #10b981;
}

.btn.btn-edit>svg {
    fill: #f59e0b;
}

.btn.btn-delete>svg {
    fill: #e11d48;
}

.alert {
    background-color: #eee;
    color: #666;
    margin: 1em 0;
    padding: 1em;
    border-radius: 8px;
    border: 1px solid;
    transition: all 200ms ease-in-out;
}

.notification {
    position: fixed;
    border-radius: 8px;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgb(0 0 0 / 10%);
    animation-duration: 500ms;
    animation-name: slidein-right-to-left;
    right: 10px;
    top: 10px;
    z-index: 9999;
    border: 1px solid;
}

.warning {
    background-color: #fef9c3;
    color: #854d0e;
}

.success {
    color: #065f46;
    background: #d1fae5;
}

.error {
    color: #9f1239;
    background-color: #fecdd3;
}
.close-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.close-icon>svg {
    width: 20px;
    height: 20px;
}

.blank-image {
    background: #eee;
    width: 100%;
    height: 40px;
    display: flex;
    border-radius: 40px;
}



/* Layout CSS */

.top-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    width: 100%;
    height: 35px;
    z-index: 999;
    font-size: 0.95em;;
    background: #4776E6;
    background: linear-gradient(to right, #8E54E9, #4776E6);
}

.top-nav a {
    color: azure;
}

.top-item {
    padding: 0.3em 1em;
}

.nav-link {
    padding: 3px 10px;
    border-radius: 8px;
    display: block;
    color: #515154;
    transition: background, padding 200ms ease-in-out;
}

.top-nav .nav-link:hover,
.top-nav .nav-link-active {
    background: rgb(255 255 255 / 15%);
}

.action-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background: white;
    border-top: 1px solid #efefef;
    z-index: 999;
}


.top-left,
.top-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-content,
.top-content.top-noti,
.top-content.top-setting {
    display: none;
}

.top-search>form {
    display: flex;
    gap: 0.5em;
    padding: 0 1em;
}

.top-search>form>input {
    border-color: #fff;
    border-radius: 40px;
    background: #efefef;
    width: 250px;
}

.app-title {
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    margin-top: 0;
}

.app-container {
    background-color: #f8f7fa;
/*     min-height: calc(100vh - 125px); */
}

.app-main {
    padding: 1em;
}

.sidebar {
    display: none;
    background-color: #fff;
    animation-duration: 300ms;
    animation-name: slidein-left-to-right;
/*     animation-timing-function: ease-in-out; */
    overflow: auto;
    max-height: 100vh;
}

/* width */
.sidebar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
    background: #999; 
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
    background: #666; 
}

.sidebar-header {
    position: sticky;
    top:0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
}

.app-sticky-submit {
    position: sticky;
    bottom: 0;
    margin: 1em 0;
    padding: 1em 0;
}
.app-sticky-submit>button {
    width: 100%;
}

.top-action {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.top-action .form-row {
    margin: 0;
}

.top-action__form {
    display: flex;
    gap: 1em;
}


.app-footer {
    text-align: center;
    height: 30px;
    margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
    
    .notification {top:70px}

    .app-grid {
        display: grid;
        grid-template-columns: 265px auto;
    }

    .action-nav {
        position: sticky;
        top:0;
        padding: 0 1em;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #efefef;
    }

    .top-content {
        display: inline-block;
    }

    .top-hide-desktop {
        display: none;
    }

    .sidebar {
        display: block;
        box-shadow: 0 0 21px 0 rgb(89 102 122 / 10%);
        color: gray;
        z-index: 99;
    }

    .app-main {
        padding: 1em 2em;
    }

    .top-action {
        justify-content: space-between;
    }

    .app-sticky-submit>button {
        width: auto;
        min-width: 200px;
    }

    .app-footer {
        margin-top: -30px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    .sidebar.show {
        display: block;
        position: absolute;
        z-index: 99;
        padding-bottom: 60px;
        width: 100%;
    }
    .sidebar .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.block-menu {
    border-bottom: 1px solid #eee;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.menu-label {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 0.5em 1em;
    color: #1d1d1f;
}

.sidebar .nav-item {
    padding: 0.1em 0.5em;
}

.sidebar .nav-link {
    padding: 5px 10px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link-active {
    color: #fff;
    padding: 5px 15px;
}

.sidebar .nav-link-active {
    font-weight: bold;
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidebar .nav-link:hover {
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app-box {
    margin: 1em 0;
    padding: 2em;
    background-color: #fff;
    display: inline-block;
    box-shadow: 0px 9px 20px rgb(46 35 94 / 7%);
    border-radius: 15px;
}

.web-box {
    background-color: #fff;
    margin: 1.5em 0;
    padding: 1em;
    border: 1px solid #eee;
    border-radius: 4px;
}
.web-box__title {
    margin-bottom: 1em;
    font-weight: bold;
}

.default-sup {
    white-space: nowrap;
    background: #ffe784;
    padding: 0 5px;
    border-radius: 4px;
    font-size: 0.6rem;
}

/*
** Tenant css*/

.create-bar {
    height: calc(100vh - 88px);
    overflow-y: auto;
}

.create-bar-block {
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.cate-grid {
    margin: 2em 0;
}

.sub-item {
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: 1em
}

.has-sub:hover .sub-item {
    visibility: visible;
}

.media-title {
    font-size: 0.9em;
    color: #6b7280;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}

@media only screen and (min-width: 768px) {
    .create-grid {
        display: grid;
        grid-template-columns: auto 300px;
        gap:1em
    }

    .cate-grid {
        display: grid;
        grid-template-columns: 300px auto;
        gap: 2em
    }

    .media-grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 1em;
    }
}

.media-model {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 9999;
    margin: 2em;
    box-shadow: rgb(0 0 0) 0px 0px 5em 3em;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
}

.media-model__top {
    padding: 0 1em;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#doClose {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #eee;
    margin-top: 8px;
}
.media-model__nav .tab {
    display: inline-block;
    background: #fff;
    padding: 5px 10px;
}
.media-model__nav .tab.active {
    border: 1px solid #eee;
    border-bottom-color: #fff;
    margin-bottom: -1px;
}
.media-model__upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.media-model__grid {
    padding: 1em;
}
.media-model__bottom {
    border-top: 1px solid #eee ;
    padding: 0 1em;
}
.setFeatuedImage {
    display: inline-block;
    padding: 8px 20px;
    background-color: #4776E6;
    color: #eee;
}

.media-item>img {
    transition: all 200ms ease-in-out;
}

.media-item.media-selected>img {
    border: 3px solid #4776E6;
}

.editor-featured-image {
    width: auto;
    height: 150px;
    background-color: #eee;
    margin: 1em 0;
    background-position: center center;
    cursor: pointer;
    background-size: cover;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}
/* .editor-featured-image:before {
    content: 'Tải file lên';
    margin: 0 auto;
} */

/*
* EDITOR 
*/
.editor-section {
    max-width: 800px;
    margin: 20px auto;
}

.editor-title {
    border-radius: 5px;
    box-shadow: 0px 9px 20px rgb(46 35 94 / 7%);
    border: 1px solid #eee;
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.editor-slug {
    width: 90%;
    border: 0;
    padding: 5px 0px;
    background: none;
    color: #6e7171;
    font-style: italic;
}

.editor-slug-note {
    font-size: 0.9em;
}

[contentEditable=true]:empty:before {
    content: attr(data-placeholder);
    color: #999;
}
.my-editor {
    background: #fff;
    margin: 20px auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 9px 20px rgb(46 35 94 / 7%);
    max-width: 800px;
}

.me-tool { border: 0; outline: 0;}

.my-editor__toolbar {
    position: absolute;
    right: 9999px;
    display: flex;
    border: 1px solid #999;
    gap: 1em;
}

.my-editor__toolbar span {
    display: inline-block;
    padding: 1px 8px;
}

.my-editor__toolbar span:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.toolbar-main {
    display: none;
}

.toolbar-main.show {
    position: absolute;
    top: 29px;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 20px;
    background: #fff;
}

.my-editor__inlinetool {
    position: absolute;
    left: 9999px;
    background: #fff;
    border: 1px solid #999;
    display: flex;
}

.my-editor__inlinetool button {
    padding: 8px 10px;
    display: inline-block;
}

.isHover {
    border: 1px solid #4776E6;
}

/* Setting */

.setting-header {
    display: flex;
    gap: 1em;
    border-bottom: 1px solid #e3e3e3;
}

.setting-header>.tab.active {
    border-bottom: 1px solid #4776e6;
    margin-bottom: -1px;
    font-weight: bold;
}

.block-setting {
    margin: 1em 0;
    border-top: 1px solid #eee;
}

.setting-row {
    margin: 1em 0; 
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 1em;
    align-items: center;
}